body {
  overflow: hidden;
  user-select: none;
}

div {
  --width: 0px;
  --height: 0px;
}

* {
  --x: 0px;
  --y: 0px;
  --origin-x: 0px;
  --origin-y: 0px;

  position: absolute;
  left: calc(var(--x) + var(--origin-x));
  top: calc(var(--y) + var(--origin-y));
  width: var(--width);
  height: var(--height);

  margin: 0;
  padding: 0;
  border: none;
}

[center] {
  position: fixed;
  top: 50%;
  left: 50%;
}

[origin="cc"] {
  --origin-x: calc(var(--width) / -2);
  --origin-y: calc(var(--height) / -2);
}
