* {
  position: absolute;
  left: calc(var(--x, 0px) + var(--anc-x, 0px));
  top: calc(var(--y, 0px) + var(--anc-y, 0px));
  width: var(--width);
  height: var(--height);
}

[ctr] {
  position: fixed;
  top: 50%;
  left: 50%;
}

[rnd] {
  border-radius: 100vmax;
}

[anc="cc"] {
  --anc-x: calc(var(--width) / -2);
  --anc-y: calc(var(--height) / -2);
}

@for $d from 1 through 10 {
  [u="#{$d}"] {
    --width: #{$d}rem;
    --height: #{$d}rem;
  }
}
